:root {
    --main1: #112B3C;
    --main2: #205375;
    --main3: #EFEFEF;
    --main4: #F66B0E;
}

body {
    background-color: var(--main1) !important;
    font-family: 'Chakra Petch', sans-serif !important;
}

header {
    height: 7rem;
    margin-top: -3rem;
    background-image: url("./images/Grid\(8x8\).svg");

}

header h1 {
    position: relative;
    top: 2rem;
    margin: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--main3);
}


#main1 {
    
}

#main1col1 {
    
    font-size: 1.5rem;
}

#main1col1 a{
    color: white;
    margin-top: 1rem;
}

#main1col2 {
    color: var(--main3);
    font-size: 2.5rem;
    margin-top: 4rem;
}

#main2 {
   background-color: var(--main2);
   padding-top: 4rem;
}

#carrousel {
    background-color: var(--main4);
    height: 30rem;
    margin-bottom: 3rem;
    width: 90%;
    position: relative;
    left: 5%;
    padding: 1.5rem;
    border-radius: 1rem;
}

#carrousel img {
    height: 25rem;
    width: 90%;
}

#main3 {
   
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    display: flex;
    background-color: var(--main4);
    margin-bottom: 5rem;
}

.card img {
    height: 4rem;
    width: 4rem;
    position: relative;
    left: 45%;
    margin-top: 1rem;
}

.card h4 {
    position: relative;
    left: 42%;
}

.card p {
    position: relative;
    left: 35%;
}

#carouselright {
    font-size: 2rem;
    color: white;
}

#carouselleft { 
    color: white;
}

#rect1 {
    fill: cadetblue;
    transition: 1s linear;
}

#rect1:hover {
    transform-origin: 0;
    transform: scaleX(4);
    fill: blue;
}

#rect2 {
    fill:crimson;
    transition: 1s linear;
}

#rect2:hover {
    transform-origin: 0;
    transform: scaleX(4);
    fill: blue;
}

#rect3 {
    fill:darkolivegreen;
    transition: 1s linear;
}

#rect3:hover {
    transform-origin: 0;
    transform: scaleX(4);
    fill: blue;
}

#svgtext1 {
    visibility: hidden;
}

.im1:hover #svgtext1 {
    animation: svgtext1 1s linear;
}

@keyframes svgtext1 {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

#tri1 {
    fill: #F66B0E;
}

#tri2 {
    fill: #d3f60e;
}

#tri3 {
    fill: #48f60e;
}

#tri4 {
    fill: #3c0ef6;
}

.tri1 {
    position: relative;
    left: -5rem;
}